body {
	color: #333333;
	font-family: sans-serif;
	font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
  line-height: 1.1;
}
p, li	{
  max-width: 40rem;
}
nav {
  float: left;
  width: 30%;
  padding: 1.5rem 0;
  ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 50px;
  }
}
div.content {
  float: left;
  width: 70%;
}

@media (min-width: 1200px) {
  nav {
    width: 10%;
  }
  div.content {
    width: 90%;
  }
}

a {
	color: green;
	text-decoration: none;
}
	
a.current {
	cursor: default;
	font-weight: bold;
}

.danger {
	color: #FFFFFF;;
	font-weight: bold;
	background-color: #cb0c26;
	padding: 2px 0;
	font-size: 1.2em;
}

div.ul_head {
  margin-bottom: -20px;
}

img.small {
  width: 40rem;
}
img.full {
  width: auto;
}
img.small:hover {
  cursor: zoom-in;
}
img.full:hover {
  cursor: zoom-out;
}
